.about {
    padding-bottom: 120px;
    position: relative;
    &__logo {
        position: absolute;
        left: 0;
        top: 80px;
    }
    
    &__h2 {
        margin-bottom: 35px;
        text-align: right;
        
        &:after {
            width: 370px;
            margin-left: auto;
        }
    }

    &__p {
        text-align: right;
        font-size: 15px;
        line-height: 23px;
        margin-bottom: 23px;
        color: #636363;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media (max-width: 1199.98px) {
    .about__logo {
        display: none;  
    }
}

@media (max-width: 991.98px) {
    .about__p br {
        display: none;
    }
}

@media (max-width: 767.98px) {
    .about__p {
        text-align: left;
    }

    .about__h2 {
        text-align: center;

        &::after {
            margin-left: auto;
            margin-right: auto; 
        }
    }
}

@media (max-width: 575.98px) {
    .about__p3, .about__p4 {
        display: none;
    }
}

@media (max-width: 465px) {
    .about__p2 {
        display: none;
    }
}

@media (max-width: 410px) {
    .about__h2 {
        font-size: 26px;
        &::after {
            width: 310px;
        }
    }
}