.advantage {
    padding-bottom: 120px;
    &__bg {
        background-color: #f5f5f5;
        position: relative;
        padding: 30px 0;
    }

    &__h2 {
        margin-bottom: 40px;
        &::after {
            width: 370px;
        }
    }

    &__box {
        text-align: center;
        width: 250px;
        height: 200px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $blue;
        box-shadow: 0px 0px 10px 1px rgba(3,121,253,0.15);
        transition: all 0.4s;

        &:hover {
            background-color: $blue;
            transform: translateY(-15px);
            color: $white;

            .advantage__svg {
                fill: $white;
            }
        }
    }

    &__img {
        position: absolute;
        top: -115px;
    }

    &__p {
        font-size: 20px;
    }

    &__svg {
        margin-bottom: 10px;
        transition: all 0.4s;
    }
}

.file {
    width: 60px;
    height: 60px;
}

@media (max-width: 1199.98px) {
    .advantage__box {
        width: 230px;
    }
}

@media (max-width: 991.98px) {
    .advantage {
        padding-bottom: 60px;
    }

    .advantage__bg {
        background-color: $white;
    }

    .advantage__box {
        width: 100%;
        margin-bottom: 30px;
    }

    .advantage__h2 {
        text-align: center;
        margin-bottom: 10px;

        &::after {
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@media (max-width: 575.98px) {
    .advantage__box {
        width: 320px;
    }
}

@media (max-width: 412px) {
    .advantage__h2 {
        font-size: 26px;    
        &::after {
            width: 300px;
        }
    }
}